.card {
    width: 100%;
    max-width: 300px;
    border-radius: 0.8em;
    overflow: hidden;
    box-shadow: 0.1em 0.1em 1em #0005;
  }
  .card__header {
    width: 100%;
    aspect-ratio: 1.2;
  }
  .card__img {
    width: 100%;
  }
  .card__body {
    padding: 0 1em 2em;
  }
  .card__name {
    font-size: 1.2rem;
    font-weight: 500;
    height: 2.5em;
    margin-bottom: 0.2em;
  }
  .card__rating {
    display: block;
    margin-bottom: 0.5em;
    font-weight: 300;
  }
  .card__location {
    font-size: 0.9rem;
    font-weight: 300;
    margin-bottom: 0.5em;
  }
  .card__price {
    display: flex;
    gap: 0.5em;
    font-weight: 500;
    font-size: 1.1rem;
  }
  .card__price::before {
    content: '$';
    font-weight: 300;
  }
  .card__btn {
    margin: 0.7em auto 0;
    font-size: 1rem;
    font-weight: 500;
    display: block;
    border: none;
    padding: 0.5em 0;
    width: 8em;
    background-color: #fa4006;
    color: white;
    border-radius: 0.5em;
    transition: transform 100ms ease,
                box-shadow 100ms ease;
  }
  .card__btn:hover {
    transform: scale(1.05);
    box-shadow: 0 0 0.5em #0005;
  }