.form-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 590px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  background-color: grey;
  border: 5px solid white;
}

.content__modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem; 
}

.close-modal-btn {
  color: greenyellow;
  text-align: right;
  margin-top: 1vh;
  margin-right: 1vw;
  cursor: pointer;
}

.form__content {
  text-align: center;
  color: greenyellow;
}

.reserve__title__days {
  color: greenyellow;
}

.reserve__title__subtotalprice {
  color: greenyellow;
}

.color__price {
  color: greenyellow;
}

.title__reviews {
  margin-bottom: 2vh;
}

.select__reviews {
  margin-bottom: 1vh;
}

.reviews__modal__button {
  margin-top: 1vh;
  background-color: white;
  width: 10vw;
  height: 4vh;
  font-size: 1.1rem;
  color: gray;
  border-radius: 10px;
}

.reviews__modal__button:hover {
  background-color: white;
}

.reviews__comments {
  display: flex;
  align-items: center;
  margin-bottom: 1vh;
}

.comments {
  margin-right: 0.3vw;
}





