.register__label {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    width: 300px;
    color: greenyellow;
  }

.register__inputs {
    margin: 0.7em auto 0;
    font-size: 1rem;
    font-weight: 500;
    border: none;
    padding: 0.5em 0;
    width: 90%;
    background-color: lightgray;
    border-radius: 0.5em;
    transition: transform 100ms ease,
                box-shadow 100ms ease;
    text-align: center;
  }
  .register__inputs:hover {
    text-align: center;
    transform: scale(1.05);
    box-shadow: 0 0 0.5em #0005;
  }

  .register__btn {
    margin: 0.7em auto 0;
    font-size: 1rem;
    font-weight: 500;
    display: block;
    border: none;
    padding: 0.5em 0;
    width: 8em;
    background-color: red;
    color: white;
    border-radius: 0.5em;
    transition: transform 100ms ease,
                box-shadow 100ms ease;
  }
  
  .register__btn:hover {
    transform: scale(1.05);
    box-shadow: 0 0 0.5em #0005;
  }